# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Django
*.log
staticfiles/
media/

# Environment
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.DS_Store
